aiohttp==3.9.3
sanic==23.12.1
motor==3.4.0
websockets==12.0
kombu==5.3.4
mongodb-migrations==1.2.1
# opticloud packages
-e opticloud_client/config_client
-e opticloud_client/insider_client
-e opticloud_client/aconfig_cl
